/* COLORS

CELESTE #B4D0E7
BLU BOTTONI #065FF6
VERDE #A2D39B
BORDEAUX #62142B
ROSSO #D6312D
AZZURRO #3694CE
ARANCIONE #ED3833
BLU #0D2481
GIALLO #FCD84A
GRIGIO #7F7F7F


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-top: 60px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* UTILS */

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.big-container {
    width: 900px;
    margin: 0 auto;
}

.small-container {
    width: 750px;
    margin: 0 auto;
}

.padd-top {
    padding-top: 200px;
}

.padd-bottom {
    padding-bottom: 30px;
}

.grey-border {
    border: 1px solid #7F7F7F;
}

.bottom-border {
    border-bottom: 1px solid #7F7F7F;
}

.text-align-c {
    text-align: center;
}

.white-text {
    color: #FFF;
}

/* HEADER */

header {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
}

#logo {
    justify-content: flex-start;
    width: 10%;
    display: block;
    padding-top: 3px;
}

#logo img {
    height: 18px;
}

#navigation-bar {
    flex-grow: 1;
    justify-content: space-between;
}

#general a{
    margin-right: 30px;
    color: #7F7F7F;
}

#user a {
    margin-left: 30px;
    color: #7F7F7F;
}

#user {
    margin-right: 30px;
}

/* JUMBOTRON */

#jumbotron {
    height: 550px;
    background-color: #B4D0E7;
}

h1 {
    text-align: center;
    padding: 100px 0;
}

#description {
    width: 30%;
}

#customer-proposal-img {
    height: 400px;
    width: 400px;
    background-color: #065FF6;
    flex-grow: 1;
}


/* SUBSCRIPTION PLANS */

.col-plan {
    width: calc(100% / 3 - 10px);
    height: 700px;
    background-color: #FFF;
}

#cards {
    justify-content: space-around;
    margin: 0 -5px;
}

#row-enterprise {
    height: 200px;
}

#enterprise {
    height: 175px;
    width: 70%;
    background-color: aqua;
}

#enterprise-bttn {
    height: 175px;
    width: 30%;
    background-color: aquamarine;
}

/* PARTNER */

#partner {
    height: 400px;
}

#partner-img {
    height: 400px;
    width: 55%;
    background-color: #065FF6;
}

#partner-description {
    height: 400px;
    width: 45%;
    background-color: #3694CE;
}

/* ACTIONS */

#cards {
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.col-action {
    width: calc(100% / 3 - 10px);
    height: 300px;
    background-color: #065FF6;
    margin-bottom: 30px;
}

/* COMPANIES */

#designit-centre {
    flex-grow: 1;
    background-color: #F5F5F5;
}


#companies-left, #companies-right {
    width: 480px;
    height: 480px;
}


#companies-left, #companies-right {
    flex-wrap: wrap;
}

#designit, #asu, #uf, #topps, #wrr, #hearst, #lonely-planet, #clear-channel {
    width: 240px;
    height: 240px;
    text-align: center;
}

#designit {
    background-color: #A2D39B;
}

#asu {
    background-color: #62142B;
}

#uf {
    background-color: #3694CE;
}

#topps{
    background-color: #ED3833;
}

#wrr {
    background-color: #D6312D;
}

#hearst {
    background-color: #B4D0E7;
}

#lonely-planet {
    background-color: #0D2481;
}

#clear-channel {
    background-color: #FCD84A;
}

/* TRY */

#try {
    background-color: #B4D0E7;
    height: 250px;
}

#try-description {
    width: 60%;
    background-color: #3694CE;
    height: 250px;
}

#try-bttn {
    width: 40%;
    background-color: #0D2481;
    height: 250px;
}

/* FAQ */

.faq {
    justify-content: space-between;
}

/* FOOTER */

footer {
    background-color: #000;
    color: #FFF;    
}


#footer-list {
    justify-content: space-between;
}

/* BUTTONS */

